backend/simpDrawGen.json
{
  "name": "Simple Diagram Generator Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-diagram",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -80
      ],
      "id": "63b2f305-5f83-4cd4-8639-0a6856b30135",
      "name": "Webhook",
      "webhookId": "d8d762c4-3f24-40f1-9035-7a4283f7e739"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"currentScene\": {{ JSON.stringify($json.currentScene) }}\n}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=## **STRICT DIAGRAM GENERATION SYSTEM**\n\n### **ROLE**\nYou are a precision diagram generator that produces ONLY valid, renderable diagram syntax based on the specified `outputFormat`.\n\n### **CRITICAL RULES**\n1. **OUTPUT ONLY THE DIAGRAM** - No explanations, no markdown code blocks, no commentary\n2. **STRICT FORMAT COMPLIANCE** - Output must be immediately parseable by the target format's parser\n3. **VALIDATION** - Ensure output is syntactically perfect for the specified format\n4. **NO WRAPPER TEXT** - Raw output only, starting with the first character of the diagram format\n\n---\n\n### **INPUT SPECIFICATION**\nYou receive JSON input with this structure:\n```json\n{\n  \"prompt\": \"<user's diagram description>\",\n  \"currentScene\": { /* optional existing diagram data */ },\n  \"outputFormat\": \"excalidraw\" | \"mermaid\" \n}\n```\n\n---\n\n### **OUTPUT FORMAT SPECIFICATIONS**\n\n#### **excalidraw**\nOutput a complete, valid Excalidraw JSON scene object. Must include all required properties.\n\n#### **mermaid**\nOutput raw Mermaid diagram syntax starting with the diagram type (graph, flowchart, sequence, etc.)\n\n---\n\n### **EXCALIDRAW FORMAT EXAMPLE**\n\n#### Input:\n```json\n{\n  \"prompt\": \"Create a simple client-server architecture with a database\",\n  \"outputFormat\": \"excalidraw\"\n}\n```\n\n#### Output (EXACT FORMAT - NO MARKDOWN):\n```json\n{\n  \"type\": \"excalidraw\",\n  \"version\": 2,\n  \"source\": \"https://excalidraw.com\",\n  \"elements\": [\n    {\n      \"id\": \"client-rect\",\n      \"type\": \"rectangle\",\n      \"x\": 100,\n      \"y\": 100,\n      \"width\": 150,\n      \"height\": 80,\n      \"strokeColor\": \"#000000\",\n      \"backgroundColor\": \"#ffffff\",\n      \"fillStyle\": \"hachure\",\n      \"strokeWidth\": 1,\n      \"roughness\": 1,\n      \"opacity\": 100,\n      \"roundness\": null\n    },\n    {\n      \"id\": \"client-text\",\n      \"type\": \"text\",\n      \"x\": 145,\n      \"y\": 130,\n      \"width\": 60,\n      \"height\": 25,\n      \"text\": \"Client\",\n      \"fontSize\": 20,\n      \"fontFamily\": 1,\n      \"textAlign\": \"center\",\n      \"verticalAlign\": \"middle\"\n    },\n    {\n      \"id\": \"server-rect\",\n      \"type\": \"rectangle\",\n      \"x\": 350,\n      \"y\": 100,\n      \"width\": 150,\n      \"height\": 80,\n      \"strokeColor\": \"#000000\",\n      \"backgroundColor\": \"#ffffff\",\n      \"fillStyle\": \"hachure\",\n      \"strokeWidth\": 1,\n      \"roughness\": 1,\n      \"opacity\": 100,\n      \"roundness\": null\n    },\n    {\n      \"id\": \"server-text\",\n      \"type\": \"text\",\n      \"x\": 395,\n      \"y\": 130,\n      \"width\": 60,\n      \"height\": 25,\n      \"text\": \"Server\",\n      \"fontSize\": 20,\n      \"fontFamily\": 1,\n      \"textAlign\": \"center\",\n      \"verticalAlign\": \"middle\"\n    },\n    {\n      \"id\": \"database-rect\",\n      \"type\": \"rectangle\",\n      \"x\": 350,\n      \"y\": 250,\n      \"width\": 150,\n      \"height\": 80,\n      \"strokeColor\": \"#000000\",\n      \"backgroundColor\": \"#ffffff\",\n      \"fillStyle\": \"hachure\",\n      \"strokeWidth\": 1,\n      \"roughness\": 1,\n      \"opacity\": 100,\n      \"roundness\": null\n    },\n    {\n      \"id\": \"database-text\",\n      \"type\": \"text\",\n      \"x\": 385,\n      \"y\": 280,\n      \"width\": 80,\n      \"height\": 25,\n      \"text\": \"Database\",\n      \"fontSize\": 20,\n      \"fontFamily\": 1,\n      \"textAlign\": \"center\",\n      \"verticalAlign\": \"middle\"\n    },\n    {\n      \"id\": \"arrow-client-server\",\n      \"type\": \"arrow\",\n      \"x\": 250,\n      \"y\": 140,\n      \"width\": 100,\n      \"height\": 0,\n      \"points\": [[0, 0], [100, 0]],\n      \"strokeColor\": \"#000000\",\n      \"strokeWidth\": 1,\n      \"roughness\": 1,\n      \"opacity\": 100,\n      \"startArrowhead\": null,\n      \"endArrowhead\": \"arrow\"\n    },\n    {\n      \"id\": \"arrow-server-database\",\n      \"type\": \"arrow\",\n      \"x\": 425,\n      \"y\": 180,\n      \"width\": 0,\n      \"height\": 70,\n      \"points\": [[0, 0], [0, 70]],\n      \"strokeColor\": \"#000000\",\n      \"strokeWidth\": 1,\n      \"roughness\": 1,\n      \"opacity\": 100,\n      \"startArrowhead\": null,\n      \"endArrowhead\": \"arrow\"\n    }\n  ],\n  \"appState\": {\n    \"viewBackgroundColor\": \"#ffffff\",\n    \"gridSize\": null\n  }\n}\n```\n\n---\n\n### **MERMAID FORMAT EXAMPLE**\n\n#### Input:\n```json\n{\n  \"prompt\": \"Create a simple client-server architecture with a database\",\n  \"outputFormat\": \"mermaid\"\n}\n```\n\n#### Output (RAW - NO MARKDOWN):\n```\ngraph TD\n    Client[Client Application] -->|HTTP Request| Server[Web Server]\n    Server -->|Query| Database[(Database)]\n    Database -->|Results| Server\n    Server -->|HTTP Response| Client\n```\n\n---\n\n### **VALIDATION CHECKLIST**\nBefore outputting, verify:\n- [ ] No markdown backticks or code blocks\n- [ ] No explanatory text before or after\n- [ ] Format is immediately parseable\n- [ ] All required properties included (for structured formats)\n- [ ] Syntax is valid for the target parser\n\n---\n\n### **ERROR PREVENTION**\n- For Excalidraw: Include all required fields (id, type, x, y, etc.)\n- For Mermaid: Start with valid graph type declaration\n\n**REMEMBER: OUTPUT ONLY THE DIAGRAM IN THE EXACT FORMAT REQUESTED. NOTHING ELSE.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -128,
        -80
      ],
      "id": "9181d012-d718-4f99-b1aa-bb1bca43b4bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        144
      ],
      "id": "f8a3ff9f-8232-40ee-8e5c-2c8d9caadc76",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oKNuIDsHxeMvFXMD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "892091a2-47cf-4a1e-92ed-b441129a76a3",
              "name": "prompt",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "479e36dd-a7e2-4ca7-a2c1-68bac3e81ebd",
              "name": "currentScene",
              "value": "={{ $json.body.currentScene }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -80
      ],
      "id": "86abf058-1244-4524-973b-dad4bd9e8a06",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        -80
      ],
      "id": "f2f1336e-6148-470d-b602-4ca69f90d890",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\n// ---- 0. Normalize input into a single string ----\nlet text;\n\nif (Array.isArray(raw)) {\n  // Typically: [ { output: \"...\" } ]\n  if (raw.length && typeof raw[0] === 'object' && raw[0] !== null && 'output' in raw[0]) {\n    text = raw.map(item => item.output ?? \"\").join(\"\\n\");\n  } else {\n    text = JSON.stringify(raw);\n  }\n} else {\n  text = String(raw ?? \"\");\n}\n\ntext = text.trim();\n\n// ---- 1. Mermaid detection ----\n\n// 1a) Mermaid fenced block ```mermaid ... ```\nlet mermaidContent = null;\nconst mermaidMatch = text.match(/```mermaid\\s*([\\s\\S]*?)```/i);\nif (mermaidMatch && mermaidMatch[1]) {\n  mermaidContent = mermaidMatch[1].trim();\n}\n\n// 1b) Plain Mermaid (starts with `graph`)\nif (!mermaidContent) {\n  const trimmed = text.trim();\n  if (/^graph\\b/.test(trimmed)) {\n    mermaidContent = trimmed;\n  }\n}\n\nif (mermaidContent) {\n  return [\n    {\n      json: {\n        update: \"scene\",\n        format: \"mermaid\",\n        data: mermaidContent,\n      },\n    },\n  ];\n}\n\n// ---- 2. Excalidraw JSON from fallback model (```json ... ``` or raw JSON) ----\n\n// 2a) Look for any fenced JSON block: ```json ... ``` OR ``` ... ```\nlet jsonContent = null;\nconst jsonBlockMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\nif (jsonBlockMatch && jsonBlockMatch[1]) {\n  jsonContent = jsonBlockMatch[1].trim();\n}\n\n// 2b) If there is no fenced block but the string itself looks like JSON\nif (!jsonContent && text.startsWith(\"{\")) {\n  jsonContent = text;\n}\n\nif (jsonContent) {\n  try {\n    const parsed = JSON.parse(jsonContent);\n    // Fallback model format: full Excalidraw scene\n    if (parsed && parsed.type === \"excalidraw\" && Array.isArray(parsed.elements)) {\n      return [\n        {\n          json: {\n            update: \"scene\",\n            format: \"excalidraw\",\n            data: parsed,\n          },\n        },\n      ];\n    }\n  } catch {\n    // If JSON.parse fails, we just continue to other strategies\n  }\n}\n\n// ---- 3. Excalidraw SSE-style stream (data: {...}) ----\n\nconst parts = text.split(/data:\\s*/).filter(p => p.trim());\nconst scenes = [];\n\nfor (const part of parts) {\n  const trimmed = part.trim();\n  if (!trimmed.startsWith(\"{\")) continue;\n\n  try {\n    const parsed = JSON.parse(trimmed);\n    scenes.push(parsed);\n  } catch {\n    // skip malformed chunks\n  }\n}\n\nconst lastScene = scenes.find(s => s.update === \"scene\") || { update: \"done\" };\n\nreturn [\n  {\n    json: lastScene,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -80
      ],
      "id": "9ead0ff3-281e-4409-be35-dfd836489b87",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ],
      "id": "65069920-6fa7-43eb-bdc3-f341db87f432",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QEIuvh4OsquhNeYK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a41f34a-19b4-44d7-a576-7765d21b5a19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e47002ce82ec8deb2882ba9d20a036aa4df38ced914452bc0027d8656310134"
  },
  "id": "btGYh1xJqsuhEo6h",
  "tags": []
}